@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Revalia";
  font-weight: 400;
  src: url("../../static/fonts/revalia-latin-400-normal.woff"),
    url("../../static/fonts/revalia-latin-400-normal.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Comfortaa";
  font-weight: 400;
  src: url("../../static/fonts/comfortaa-latin-400-normal.woff"),
    url("../../static/fonts/comfortaa-latin-400-normal.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url("../../static/fonts/raleway-latin-400-normal.woff"),
    url("../../static/fonts/raleway-latin-400-normal.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Questrial";
  font-weight: 400;
  src: url("../../static/fonts/questrial-latin-400-normal.woff"),
    url("../../static/fonts/questrial-latin-400-normal.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../../static/fonts/montserrat-latin-400-normal.woff"),
    url("../../static/fonts/montserrat-latin-400-normal.woff2");
  font-display: swap;
}

@layer components {
  /* Nav Component */
  .main-nav {
    @apply bg-primary grid grid-cols-3 py-2 px-4 md:py-4 md:px-12 fixed top-0 left-0 w-full z-50 transition-all duration-[.3s] ease-in-out;
  }

  .main-nav > * {
    @apply text-secondary;
  }

  .navlink-container {
    @apply hidden md:flex items-center font-semibold;
  }

  .navlink-container .navlink {
    @apply relative after:absolute after:w-0 hover:after:w-full after:transition-all after:duration-[.3s] after:ease-out after:left-1/2 hover:after:left-0 after:-bottom-[0.30rem] after:bg-secondary after:h-0.5;
  }

  /* Menu Button (Mobile) */
  .menu-button {
    @apply w-8 h-4;
  }
  .menu-icon {
    @apply bg-secondary first:mt-0 mt-1 h-[2.5px] w-full rounded-full origin-left;
  }

  /* Aside Nav Component */
  .aside-nav {
    @apply fixed top-0 left-0 h-dvh w-full sm:w-80 z-[100] text-secondary  bg-secondary;
  }

  .aside-nav .navlink {
    @apply relative isolate block py-4 text-center before:absolute before:w-4/5 before:md:w-full before:h-full before:left-1/2 before:-translate-x-1/2 before:md:-left-full before:md:-translate-x-0 before:opacity-0 before:top-1/2 before:bg-secondary before:-translate-y-1/2 before:-z-[1] transition-all duration-[.3s] before:transition-all before:duration-[.3s]  ease-swift-ease-out before:ease-swift-ease-out before:rounded-xl md:before:rounded-tl-none md:before:rounded-bl-none md:before:rounded-tr-xl md:before:rounded-br-xl before:scale-x-0 before:md:scale-x-100 before:md:origin-left;
  }

  .aside-nav .navlink.active {
    @apply text-primary font-bold before:opacity-100 before:md:-left-0  before:md:-translate-x-3 before:scale-x-100 md:pr-4 md:tracking-wide;
  }

  /* Landing Page */
  .landing-buttons {
    @apply py-2 px-3 flex-grow font-semibold rounded-md w-full;
  }
}

@layer utilities {
  /* Typography */
  :root {
    --subheadline-spacing: 1;
    --normal-spacing: 1.3;
    --landing-headline: clamp(2rem, 6vw + 1rem, 4.5rem);
    --landing-subheadline: clamp(1.85rem, 3vw + 1rem, 3rem);
    --lead-content: clamp(1rem, 1.25vw + 1rem, 1.75rem);
    --normal-fs: clamp(1rem, 2vw + 1rem, 1.1rem);
    --article-headline: clamp(2rem, 2vw + 1rem, 3rem);
    --section-headline: clamp(2rem, 3vw + 1rem, 4rem);
  }
  .landing-headline {
    font-size: var(--landing-headline);
    line-height: var(--normal-spacing);
  }
  .landing-subheadline {
    font-size: var(--landing-subheadline);
    line-height: var(--subheadline-spacing);
  }

  .article-headline {
    font-size: var(--article-headline);
  }

  .section-headline {
    font-size: var(--section-headline);
  }

  .lead-content {
    font-size: var(--lead-content);
    line-height: var(--normal-spacing);
  }
  .normal-fs {
    font-size: var(--normal-fs);
  }
  .highlighted {
    @apply text-highlight hover:text-interact;
  }

  .guide1 {
    outline: 1px solid pink;
  }

  .guide2 {
    outline: 1px solid teal;
  }

  /* Layout */
  .app {
    background-color: theme("colors.primary");
  }

  .parallax-grid {
    background-size: 80px 80px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
    position: relative;
    background-attachment: fixed;
  }

  /* Dimmer */
  .dimmer {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 95;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
  }

  /* Nav Component */
  .main-nav {
    background-color: theme("colors.primary_transparent");
    backdrop-filter: blur(8px);
  }
  .navlink-indicator {
    position: absolute;
    bottom: 0.35rem;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 4px;
    background-color: theme("colors.secondary");
    transition: 0.3s ease-in-out;
  }

  /* Theme Toggler Component  */
  .toggler-icon {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }

  /* Landing Section  */

  .display-section {
    box-shadow: -10px 0 -10px theme("colors.shadowClr");
  }

  /* Pop Out Image Style */
  .display {
    width: min(400px, 80%);
    margin-inline: auto;
    position: relative;
  }
  .section-inner-shadow {
    box-shadow: inset 0 0 10px theme("colors.shadowClr");
  }

  .image-display-container {
    background-color: transparent;
    padding-top: 1rem;
    overflow: hidden;
    border-radius: 0 0 100vw 100vw;
  }

  .clip {
    background-color: theme("colors.tertiary");
    position: absolute;
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 4/4;
    bottom: 0;
    inset: auto 0 0;
    margin-inline: auto;
  }

  [data-theme="light"] .clip {
    box-shadow: inset 5px 5px 10px #c7c7c7, inset -5px -5px 10px #efefef;
  }
  [data-theme="dark"] .clip {
    box-shadow: inset -11px 11px 22px #202020, inset 11px -11px 22px #282828;
  }

  .image-display {
    position: relative;
    filter: drop-shadow(0 8px 5px theme("colors.secondary"));
  }
  [data-theme="dark"] .image-display {
    filter: none;
  }

  [data-theme="light"] .neumorph-outer {
    box-shadow: 5px 5px 10px #dcdcdc, -5px -5px 10px #fefefe;
  }

  [data-theme="dark"] .neumorph-outer {
    box-shadow: 5px 5px 10px #1e1e1e, -5px -5px 10px #222222;
  }

  [data-theme="light"] .neumorph-inner {
    background: linear-gradient(145deg, #d5d5d5, #fefefe);
    box-shadow: 5px 5px 10px #dcdcdc, -5px -5px 10px #fefefe;
  }

  [data-theme="dark"] .neumorph-inner {
    background: linear-gradient(145deg, #1d1d1d, #222222);
    box-shadow: 5px 5px 10px #1e1e1e, -5px -5px 10px #222222;
  }

  .shadowed {
    filter: drop-shadow(0px -2px 12px theme("colors.shadowClr"));
  }

  [data-theme="light"] .image-shadow {
    filter: drop-shadow(0 8px 10px theme("colors.fade"));
  }

  [data-theme="dark"] .image-shadow {
    filter: none;
  }

  /* Cube */
  .cube-container {
    perspective: 1000px;
  }
  .core {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    /* background-color: aquamarine; */
    display: grid;
    place-items: center;
    transform-style: preserve-3d;
    transform: rotateY(-45deg);
    animation: cubeRotate 10s linear infinite;
  }

  @keyframes cubeRotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotateX(-360deg) rotateY(-360deg);
    }
  }

  .c-face {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    display: grid;
    place-items: center;
  }

  .c-face.left {
    left: -100%;
    transform: translateX(50%) rotateY(-90deg);
    background-color: #ffe4c483;
  }
  .c-face.right {
    left: 100%;
    transform: translateX(-50%) rotateY(90deg);
    background-color: #ffe4c483;
  }

  .c-face.top {
    top: -100%;
    background-color: #ffe4c483;
    transform: translateY(50%) rotateX(90deg);
  }
  .c-face.bottom {
    top: 100%;
    background-color: #ffe4c483;
    transform: translateY(-50%) rotateX(-90deg);
  }
  .c-face.front {
    transform: translateZ(4rem);
    background-color: #ffe4c483;
  }
  .c-face.back {
    transform: translateZ(-4rem) rotateY(180deg);
    background-color: #ffe4c483;
  }

  /* Desktop Object */
  .desktop-container {
    @apply absolute aspect-video left-1/2 -translate-x-1/2;
  }

  .desktop-container {
    width: 350px;
    bottom: 1rem;
  }
  .desktop {
    background-color: theme("colors.darkObject");
    width: 100%;
    height: 100%;
    border-radius: theme("borderRadius.md");
    padding: 0.35rem;
    position: relative;
  }

  .screen {
    width: 100%;
    height: 100%;
    background-color: theme("colors.primary");
    border-radius: theme("borderRadius.md");
  }

  .desktop-stand {
    position: absolute;
    width: theme("width.4");
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    background-color: theme("colors.darkObject");
  }

  .desktop-stand-base {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 8px;
    background-color: theme("colors.darkObject");
    border-top-right-radius: 100vw;
    border-top-left-radius: 100vw;
  }

  /********/

  /* Laptop Object */
  .laptop-container {
    @apply absolute aspect-video;
  }

  .laptop-container {
    bottom: 0;
    width: 180px;
  }

  .laptop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .laptop-border {
    background-color: theme("colors.darkObject");
    width: 92.5%;
    height: 100%;
    margin-inline: auto;
    border-radius: theme("borderRadius.md");
    padding: 0.25rem;
  }

  .laptop-screen {
    width: 100%;
    height: 100%;
    background-color: theme("colors.primary");
    border-radius: theme("borderRadius.md");
  }

  .laptop-pad {
    background-color: theme("colors.darkObject");
    width: 100%;
    height: 0.35rem;
    position: relative;
    border-radius: 50vw 50vw 100vw 100vw;
  }
  .laptop-pad::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 0.25rem;
    width: 0.75rem;
    border-radius: 0 0 100vw 100vw;
    background-color: theme("colors.lightTertiary");
  }

  .mouse {
    width: 3rem;
    height: 1.25rem;
    position: absolute;
    bottom: 0;
    right: -3.25rem;
    border-radius: 100vw 100vw 5rem 5rem;
    background-color: theme("colors.darkObject");
  }

  .mouse::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0.18rem;
    height: 0.5rem;
    border-radius: 0 0 100vw 100vw;
    background-color: theme("colors.lightTertiary");
  }

  /********/

  /* Mug Object */

  .mug-container {
    @apply w-12 sm_less:left-0.5 left-14 aspect-square absolute bottom-0 z-10;
  }
  .mug {
    @apply w-full h-full bg-darkObject rounded-sm rounded-bl-xl rounded-b-xl relative;
  }
  .mug-handle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    aspect-ratio: 1/1.25;
    border-radius: 50%;
    outline: 0.45rem solid theme("colors.darkObject");
  }
}

@layer base {
  html,
  body {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    height: 100%;
  }
  body {
    font-family: theme("fontFamily.raleway");
  }

  ::-webkit-scrollbar {
    @apply w-[7px];
  }

  ::-webkit-scrollbar-track {
    @apply bg-tertiary;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-secondary rounded-full;
  }
}
